.category__filter{
    @extend %align-center;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
    p{
        font-weight: bold;
    }
    @media screen and (max-width: 600px) {
       flex-direction: column;
      }
}

.category__option{
    @extend %align-center;

    gap: 1.6rem;

    label{
        @extend %align-center;

        gap: .4rem;
    }
}